/* colors */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

:root {
    /* ## Colors */
    --clr-d-el: hsl(209, 23%, 22%);
    --clr-d-bg: hsl(207, 26%, 17%);
    --clr-l-txt: hsl(200, 15%, 8%);
    --clr-l-inp: hsl(0, 0%, 52%);
    --clr-l-bg: hsl(0, 0%, 98%);
    --clr-white: hsl(0, 0%, 100%);

    /* ## Typography */
    /* homepage items - 14px */
    /* detail page - 16px */
    /* weights: 300 600 800 */

}

/* helper */
.display-none {
    display: none;
}


/* # styling */
/* ## Default styles */

*, 
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--clr-l-txt);
  font-weight: 600;
  line-height: 1.5;
  overflow-x: hidden;
  background: hsl(0, 0%, 95%) !important;
}

header {
  background-color: var(--clr-white);
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem;
}

span {
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 800;
}

.header-span {
  font-weight: 800;
  font-size: 1.2rem;
}

header button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
}

header button i {
  margin-right: 0.2rem;
}

main {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background: hsl(0, 0%, 95%);
  margin: 0 auto;
}

section {
  background: hsl(0, 0%, 95%);
  /* gap: 2rem; */
}

article {
  background-color: var(--clr-l-bg);
  display: inline-block;
  border-radius: .3rem;
  overflow: hidden;
  width: 300px;
  height: 350px;
  word-wrap: break-word;
  white-space: normal;
  font-family: 'Nunito Sans', sans-serif;
}

.gridItem h2 {
  font-weight: 800;
  font-size: 1.5rem;
}
.text {
  padding-left: 1.5rem;
  padding-top: 1rem;
}

.text div {
  padding-top: .5rem;
  line-height: .5;
  font-weight: 600;
}
.text div span {
  font-weight: 300;
}

article img {
  width: 100%;
  height: 200px;
  object-fit: scale-down;
}

header a {
  color: var(--clr-l-txt);
  text-decoration: none;
}

/* ### Layout */

.sectionGrid {
  margin: 2rem auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

#dropdownSelect {
  width: 200px;
  text-transform: capitalize;
  font-weight: 600;

}

#select {
  margin: 0 1rem;
  display: inline-block;
}

#select label {
  margin: 0 1rem;
}

#searchForm {
  width: 350px;
  margin: 1rem;
}

.row {
  display: flex;
  flex-direction: column;
}

/* ### Responsiveness */

@media screen and (min-width: 768px) {
    .sectionGrid {
        grid-template-columns: repeat(2, 1fr);
    }
    #searchForm {
      width: 450px;
    }
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .flexbox {
      display: flex;
      align-items: center;
      grid-column: 1 / -1;
      text-align: start;
      margin: 0;
      padding: 0;
    }
    .country {
      margin: 2rem 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .country img {
      grid-row: 0 / -1;
    }
}

@media screen and (min-width: 1024px) {
    .sectionGrid {
        grid-template-columns: repeat(3, 1fr);
    }
    #searchForm {
      width: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .sectionGrid {
        grid-template-columns: repeat(4, 1fr);
    }

    #searchForm {
      width: 600px;
    }
}

.row a {
  color: var(--clr-l-inp);
  text-decoration: none;
  background-color: var(--clr-white);
  box-shadow: 0 0 5px var(--clr-l-inp);
  width: 100px;
  text-align: center;
  padding: .2rem 1rem;
  margin: 1rem 2rem;
  border-radius: 2px;
  transition: 150ms;
}

.buttonLike {
  color: var(--clr-l-txt);
  background-color: var(--clr-white);
  box-shadow: 0 0 5px var(--clr-l-inp);
  text-align: center;
  padding: .2rem 1rem;
  border-radius: 2px;
  padding: .2rem 1.5rem;
  line-height: 2;
  margin-left: 1rem;
}

.row a:hover {
  color: var(--clr-l-txt);
  text-shadow: 0 0 1px var(--clr-l-inp);
}

.row a i {
  margin-right: .2rem;
}

.country {
  margin: 0 auto;
  display: grid;
  max-width: 1000px;
  place-items: center;

}
.country .text {
  /* justify-self: first baseline; */
  width: 375px;
}

h3 {
  font-size: 1.2rem !important;
  white-space: nowrap;
}
/* ## Color */


/* Style changes to use in dark mode */
/* @media (prefers-color-scheme: dark) {

} */
