{% extends "layout.html" %}

{% block title %}
    {{ country.name }}
{% endblock %}

{% block main %}
    <div class="row">
        <a href="/"><!-- icon --> Back</a>
    </div>
    <section class="country">
        <img src="{{ country.flags.png }}" alt="{{ country.name }} flag">
        <h2>{{ country.name }}</h2>
        <div>
            <p>Native name: <span>{{ country.nativeName }}</span></p>
            <p>Population: <span>{{ country.population | format_number }}</span></p>
            <p>Region: <span>{{ country.region }}</span></p>
            <p>Sub Region: <span>{{ country.subregion }}</span></p>
            <p>Capital: <span>{{ country.capital }}</span></p>
        </div>
        <div>
            <p>Top Level Domain: <span>{{ country.topLevelDomain }}</span></p>
            <p>Currencies:
                {% for currency in country.currencies %} 
                    <span>{{ currency }}</span>
                {% endfor %}
            </p>
            <p>
                Langueges: 
                {% set language_list = [] %}
                {% for language in country.languages %}
                    {% if not loop.first %},{% endif %}
                    <span>{{ language }}</span>
                    {% set _ = language_list.append(language) %} <!-- TODO! remove the colon -->
                {% endfor %}
            </p>
        </div>
        <div>
            <h3>Border Countries:</h3>
            {% for border in country.borders %}
                <span>{{ border | format_border }} </span> 
            {% endfor %}
        </div>
    </section>
{% endblock %}