{% extends "layout.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/country.css">
{% endblock %}

{% block title %}
    {{ country.name }}
{% endblock %}

{% block main %}
    <div class="row">
        <a href="/" class="buttonLike"><i class="fa-solid fa-arrow-left"></i> Back</a>
    </div>
    <section class="country">
        <img src="{{ country.flags.png }}" alt="{{ country.name }} flag">
        <div class="text">
            <h2>{{ country.name }}</h2>
            <p>Native name: <span>{{ country.nativeName }}</span></p>
            <p>Population: <span>{{ country.population | format_number }}</span></p>
            <p>Region: <span>{{ country.region }}</span></p>
            <p>Sub Region: <span>{{ country.subregion }}</span></p>
            <p>Capital: <span>{{ country.capital }}</span></p>
        </div>
        <div class="text">
            <p>Top Level Domain: <span>{{ country.topLevelDomain }}</span></p>
            <p>Currencies:
                {% for currency in country.currencies %} 
                    <span>{{ currency }}</span>
                {% endfor %}
            </p>
            <p>
                Langueges: 
                {% set language_list = [] %}
                {% for language in country.languages %}
                    {% if not loop.first %},{% endif %}
                    <span>{{ language }}</span>
                    {% set _ = language_list.append(language) %} 
                {% endfor %}
            </p>
        </div>
        <div class="text flexbox">
            <h3>Border Countries:</h3>
            {% for border in country.borders %}
                <span class="buttonLike">{{ border }} </span> 
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="/static/country.js"></script>
{% endblock %}