{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="row">

        <div id="searchForm" class="input-group mb-3">
            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span> 
            <div class="form-floating">
                <input placeholder="Search for a country..." id="search" name="country" class="form-control" type="text" autocomplete="off">
                <label for="search">Search for a country...</label>
            </div>
        </div>

        <div class="form-floating mb-3" id="select">
            <select class="form-select" aria-label="Select for the region" name="region" id="dropdownSelect">
                <option value="" selected>Select a Region</option>
                {% for region in regions %}
                    <option value="{{ region }}">{{ region }}</option>
                {% endfor %}
            </select>
            <label for="dropdownSelect">Filter by Region</label>
        </div>
    </div>
    <section class="sectionGrid">
        {% for country in countries %}
            <article class="gridItem">
                <a href="/country/{{ country.name }}"><img src="{{ country.flags.png }}" alt="{{ country.name }} flag"></a>
                <div class="text">
                    <h2 class="countryName">{{ country.name }}</h2>
                    <div>
                        <p class="population">Population: <span>{{ country.population | format_number }}</span></p>
                        <p class="region">Region: <span id="region">{{ country.region }}</span></p>
                        <p class="capital">Capital: <span>{{ country.capital }}</span></p>
                    </div>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}

{% block scripts %}
    <script src="/static/app.js"></script>
{% endblock %}