{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="row">
        <form id="searchForm">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button> 
            <input id="search" name="country" type="text" autocomplete="off" placeholder="Search for a country...">
        </form>

        <select name="region" id="dropdownSelect">
            <option value=""><span>Filter by Region</span><i class="fa-solid fa-angle-down"></i></button></option>
            {% for region in regions %}
                <option value="{{ region }}">{{ region }}</option>
            {% endfor %}
        </select>
    </div>
    <section class="sectionGrid">
        {% for country in countries %}
            <article class="gridItem">
                <a href="/country/{{ country.name }}"><img src="{{ country.flags.png }}" alt="{{ country.name }} flag"></a>
                <div class="text">
                    <h2 class="countryName">{{ country.name }}</h2>
                    <div>
                        <p class="population">Population: <span>{{ country.population | format_number }}</span></p>
                        <p class="region">Region: <span id="region">{{ country.region }}</span></p>
                        <p class="capital">Capital: <span>{{ country.capital }}</span></p>
                    </div>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}