{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="row">
        <form action="/search">
            <button type="submit"><!-- icon --></button> 
            <input id="search" name="country" type="text" autocomplete="off" placeholder="Search for a country...">
        </form>

        <select name="region" id="dropdownSelect">
            <!-- button which activates a dropdown for more buttons with links to what is displayed -->
            <option value=""><span>Filter by Region</span> <!-- icon --></button></option>
            {% for region in regions %}
                <option value="{{ region }}">{{ region }}</option>
            {% endfor %}
        </select>
    </div>
    <section class="sectionGrid">
        {% for country in countries %}
            <article class="gridItem">
                <a href="/country/{{ country.name }}"><img src="{{ country.flags.png }}" alt="{{ country.name }} flag"></a>
                <h2>{{ country.name }}</h2>
                <p class="population">Population: <span>{{ country.population | format_number }}</span></p>
                <p class="region">Region: <span id="region">{{ country.region }}</span></p>
                <p class="capital">Capital: <span>{{ country.capital }}</span></p>
            </article>
        {% endfor %}
    </section>
{% endblock %}